<br><br>
<h4>Latest uploads
</h4>

<%if(params.status) { %>   
<p><%= params.status %></p>  
<% }  %>

<%if(params?.vids && params.vids.length > 0) { %>  

    <div class="album py-5 bg-light">
        <div class="container">
    
          <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">

    <%for(const file of params.vids) { %> 
                <div class="col">
                    <div class="card shadow-sm">
                        <a href="/watch?filehash=<%= file.cid %>">
                            <img src="https://gateway.ipfs.io/ipfs/<%= file.cid %>/thumb.png"  width="100%" height="225" preserveAspectRatio="xMidYMid slice">
                        </a>
                      <div class="card-body">
                        <p class="card-text">
                            <%= file.originalFileName %>
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="/user/<%= file.op.id %>" type="button" class="btn btn-sm btn-outline-secondary"><%= file.op.username %></a>
                          </div>
                          <%if(file.duration){%>
                          <small class="text-muted"><%=  new Date(file.duration * 1000).toISOString().substr(11, 8)  %></small>
                          <%}%>
                        </div>
                      </div>
                    </div>
                  </div> 
    <% }  %>
      </div>
    </div>
</div>
<% }  %>