<h1>Upload ipfs</h1>
<h4>Bem vindo <%if(params.user) { %>
      <%= params.user.username %>
      <p>UserToken:<%=  params.user.authToken %></p>
     <% } else { %>
        <%= 'visitante' %>
        <% }  %>
</h4>

<%if(params.status) { %>   
<p><%= params.status %></p>  
<% }  %>

<ul>
    <li><a href="/login">Login</a></li>
    <li><a href="/singup">Sing Up</a></li>
    <li><a href="/upload">Upload</a></li>
    <li><a href="/watch">Watch</a></li>
    <li><a href="/profile">Profile</a></li>
    <%if(params.user) { %>
    <form method="POST" action="/logout"> 
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <li><input type="submit" value="Logout"></li>
    </form>
    <% } %>

</ul>
<%if(params.vids) { %>  
    <ul>
    <%for(const vid of params.vids) { %> 
        <li>
            <a href="/watch?filehash=<%= vid.cid %>&filename=<%= vid.file.originalFileName %>">
                <img src="https://gateway.ipfs.io/ipfs/<%= vid.file.cid %>/thumb.png">
            </a>
        </li>
    <% }  %>
    </ul>
<% }  %>
