<br><br>
<main>
<%if(params.user) { %>   
    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">Profile</h2>

        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

            <div class="feature col">
              <div class="feature-icon bg-primary bg-gradient">
                  img
              </div>
              <h2>Change password</h2>
              <hr>

              <form method="POST" action="/changePassword">
                <div class="form-floating">
                  <img class="mb-4" src="logo.png" alt="no logo" width="72" height="57">
                </div>

                <div class="form-floating">
                  <input type="password" name="password"  class="form-control" required>
                  <label for="password">Current Password:</label>
                </div><br>
                <div class="form-floating">
                  <input type="password" name="newPassword"  class="form-control"  required>
                  <label for="newPassword">New Password:</label>
                </div><br>
                <div class="form-floating">
                  <input type="password" name="newPasswordConfirm"  class="form-control" required>
                  <label for="newPasswordConfirm">New Password Confirm:</label>
                </div><br>
                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                <button class="w-100 btn btn-lg btn-primary" type="submit">Change password</button>
              </form>
            </div>


            <div class="feature col">
                <div class="feature-icon bg-primary bg-gradient">
                    img
                </div>
                <h2>Change Profile Photo</h2>
                <hr>
  
                <form method="POST" action="/changeProfilePhoto" enctype="multipart/form-data">
                  <div class="form-floating">
                    <img class="mb-4" src="logo.png" alt="no logo" width="72" height="57">
                  </div>
  
                  <div class="form-floating">
                    <div class="form-post-file-input-box">
                        <input type="file" name="image" required>
                    </div>
                  </div><br>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" required/>
                  <button class="w-100 btn btn-lg btn-primary" type="submit">Change profile photo</button>
                </form>
              </div>
              
            <div class="feature col">
                <div class="feature-icon bg-primary bg-gradient">
                    img
                </div>
                <h2>Change password</h2>
                <hr>
  
                <form method="POST" action="/changeUserData">
                  <div class="form-floating">
                    <img class="mb-4" src="logo.png" alt="no logo" width="72" height="57">
                  </div>
  
                  <div class="form-floating">
                    <input type="text" name="username" value="<%= params.user.username %>" class="form-control" required>
                    <label for="username">Username:</label>
                  </div><br>
                  <div class="form-floating">
                    <input type="email" name="oldEmail" class="form-control" required>
                    <label for="email">Old email address:</label>
                  </div><br>
                  <div class="form-floating">
                    <input type="email" name="email" class="form-control" required>
                    <label for="email">New Email:</label>
                  </div><br>
                  <div class="form-floating">
                    <input  type="password" name="password"  class="form-control"  required>
                    <label to="password">Password</label>
                  </div><br>
                  <input type="hidden" name="_csrf" value="<%= csrfToken %>" required/>
                  <button class="w-100 btn btn-lg btn-primary" type="submit">Change User Data</button>
                </form><hr><br>
                <button type="button" class="w-100 btn btn-lg btn-danger" data-bs-toggle="modal" data-bs-target="#deleteUserModal">
                  Delete account
                </button>
              </div>

        </div>



    </div>

    <div class="container px-4 py-5">
        <h2 class="pb-2 border-bottom">About</h2>
        <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" 
                style="background-image: url('https://gateway.ipfs.io/ipfs/<%= params.user.profilePhotoCid %>');"> 


                  <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"><%= params.user.username %></h2>
                    <ul class="d-flex list-unstyled mt-auto">
                      <li class="me-auto">
                        <img src="https://github.com/twbs.png" alt="Bootstrap" width="32" height="32" class="rounded-circle border border-white">
                      </li>
                      <li class="d-flex align-items-center me-3">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
                        <small>Earth</small>
                      </li>
                      <li class="d-flex align-items-center">
                        <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                        <small>3d</small>
                      </li>
                    </ul>
                  </div>
                </div>

              </div>

        </div>

    </div>

    <%if(params?.user?.files?.length > 0) { %>  
      <div class="album py-5 bg-light">
          <div class="container">
            <h4>My uploads</h4><br>
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
              <%for(const file of params.user.files) { %> 
                  <div class="col">
                      <div class="card shadow-sm">
                          <a href="/watch?filehash=<%= file.cid %>">
                              <img src="https://gateway.ipfs.io/ipfs/<%= file.cid %>/thumb.png"  width="100%" height="225" preserveAspectRatio="xMidYMid slice">
                          </a>
                        <div class="card-body">
                          <p class="card-text">
                              <%= file.originalFileName %>
                          </p>
                          <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                              <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                              <button type="button" class="btn btn-sm btn-outline-secondary">Delete</button>
                            </div>
                            <%if(file.duration){%>
                            <small class="text-muted"><%= file.duration %>s</small>
                            <%}%>
                          </div>
                        </div>
                      </div>
                    </div> 
              <% }  %>
        </div>
      </div>
  </div>
  <% } else { %>
      <p>You haven't uploaded any file yet</p>
  
  <% }  %>


  <div class="container px-4 py-5">
    <h2 class="pb-2 border-bottom">Pending uploads</h2>

    <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
        
      <%if(params?.user?.userpendinguploads?.length > 0) { %>

            <%for(const f of params.user.userpendinguploads) { %> 
              <div class="col">
                    <h2><%= f.originalFileName %></h2>
                    <div class="card">
                      <div class="card-body">
                          <p>Uploaded at: <%= f.createdAt %></p>
                      </div>
                    </div>

              </div>
            <% }  %>
    
    <% }  %>

    </div>
  </div>




<% }  %>
    


</main>


<div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Delete account</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    
      </div>
      <div class="modal-body">
        <form method="POST" action="/deleteUser" id="formDeleteUser">
          <div class="form-floating">
            <input  type="password" name="password"  class="form-control"  required>
            <label to="password">Password</label>
          </div><br>
          <input type="hidden" name="id" value="<%= params.user.id %>" required/>
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" required/>
        </form>
      </div>
      <div class="modal-footer">
        <button class="w-100 btn btn-lg btn-danger" type="submit" form="formDeleteUser">Confirm deletion</button>
      </div>
    </div>
  </div>
</div>