
<%if(params.user) { %>   
    <p>Username <%= params.user.username %></p>  
    <p>Email: <%= params.user.email %></p>
    <img src="https://gateway.ipfs.io/ipfs/<%= params.user.profilePhotoCid %>" alt="profile-photo">

    <form method="POST" action="/changePassword">
        <br/>
        <label to="password">Current Password:</label>
        <input type="password" name="password" required/>
        <br/>
        <label to="newPassword">New password:</label>
        <input type="password" name="newPassword" required/>
        <br/>
        <label to="newPasswordConfirm">New Confirm password:</label>
        <input type="password" name="newPasswordConfirm" required/>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />        
        <input type="submit" value="Change password">
    </form>
    <hr><br>
    <form method="POST" action="/changeProfilePhoto" enctype="multipart/form-data">
        <label for="image">Profile photo:</label>
        <input type="file" name="image" required>

        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />        
        <input type="submit" value="Change profile photo">
    </form>

<% }  %>
    
<%if(params.user.files) { %>
    <ul>
        <%for(const f of params.user.files) { %> 
            <li>
                <%= f.originalFileName %>
                with cid: <%= f.cid %>
            </li>
        <% }  %>
        </ul>
<% }  %>
        