<h1>File Uploaded</h1>
<p>Name: <%= fileName %></p>
<p>Link: <a href="https://ipfs.io/ipfs/<%= params.fileHash %>/<%= params.fileName %>"><%= params.fileHash %></a></p>
<p><a href="/watch?filehash=<%= params.fileHash %>">Watch</a></p>