<br>
<div class="row">
    <div class="col"></div>
    <div class="col-8"><br>
        <div class="row">
            <div class="col">
                <h2>   <%= params?.file?.originalFileName %></h2>
            </div>
        </div>
        <div class="row">
            <video id="video" width="100%" height="80%" controls autoplay></video>
        </div>
        <br>
        <div class="row">
            <div class="col-md-10">
                By <a href="/user/<%= params.file.op.id %>" target="_blank"><%= params.file.op.username %>
                <%if(params.file.op.profilePhotoCid){%>
                    <img class="circle-image" src="https://gateway.ipfs.io/ipfs/<%= params.file.op.profilePhotoCid %>" width="45" height="45">
                <%}%>
                </a>
                <br>
            <%for(const tag of params?.file?.tags){%>
                <span class="badge bg-secondary">#<%= tag.name %></span>
            <%}%>
            </div>
            <div class="col-md-2">
                <div class="video-meta text-center">
                    <p>
                        <i 
                        onclick="react(0)" 
                        id="reactionThumbUp" 
                        aria-hidden="true"
                        class="fa fa-thumbs-o-up reaction-button 
                        <%if(params?.user?.liked) { %>
                            reacted
                        <% } %>  
                        " >
                        </i>

                        <i 
                        onclick="react(1)" 
                        id="reactionThumbDown" 
                        aria-hidden="true"
                        class="fa fa-thumbs-o-down reaction-button
                        <%if(params?.user?.disliked) { %>
                            reacted
                        <% } %>  
                        " >
                        </i>

                    </p>
                    <div class="progress">
                        <div class="progress-bar"
                        id="likesBar" 
                        role="progressbar" 
                        style="width: 25%" 
                        aria-valuenow="25" 
                        aria-valuemin="0" 
                        aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>

        <%if(params?.file?.filereactions?.length > 0) { %>  
            <datalist id="reactions">
                <%for(const r of params.file.filereactions) { %> 
                        <option value="<%= r.num %>"
                            <%if(r.userId === params?.user?.id){%>
                                id="userReactionOption"
                            <% } %>  
                        >
                        </option>
                <% } %>  
            </datalist>
        <% } %>  

        <div class="row">
            <div class="col">
            <%if(params?.user?.id === params?.file?.op || params?.user?.adminLevel > 10){%>
                <form method="POST" action="/deleteFile" class="float-end">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <input type="hidden" name="cid" value="<%= params.file.cid %>" />
                    <button type="submit" class="btn btn-danger">Delete file</button>
                </form>
            <% } %>
            </div>  
        </div>
        <br>    
        <div class="row">
            <div class="card">
                <div class="card-body">
                    <%= params?.file?.description %>
                </div>
            </div>
        </div>
        <br>


        <div class="row">
            <div class="col-12">
                <form method="POST" action="/comment">
                    <div class="row">
                        <textarea name="commentText" class="form-control" maxlength="512" style="height: 125px;" placeholder="Comment something about this"></textarea>
                    </div><br>
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                    <input type="hidden" name="cid" value="<%= params.file.cid %>" />
                    <div class="row">
                        <button 
                        type="submit" 
                        class="btn btn-primary"
                        <%if(!params?.user){%>
                            disabled
                        <% } %>
                        >Comment</button>
                    </div>
                </form>    
            </div>
            <div class="col"></div>
        </div>
        <br><hr>

        <%if(params?.file?.comments?.length > 0) { %>  
            <div class="row-cols-2">
                <%for(const comment of params.file.comments) { %> 
                    <div class="card" id="commentId<%= comment.id %>">
                        <div class="card-body">
                            <p><%= comment.text %></p>
                            <p><i>By <%= comment.user.username %></i>
                                <%if(comment.user.id === params?.user?.id){%>
                                <button type="submit" class="btn btng-warning" onclick="deleteComment(<%= comment.id %>)">
                                    <i class="fa fa-trash" aria-hidden="true"></i>
                                </button>
                                <% }  %>
                            </p>

                        </div>
                    </div>
                <% }  %>
            </div>

        <% }  %>
    </div>

    <div class="col">
        <!--related videos-->
    </div>
</div>
<br><br>



<script src="https://cdn.jsdelivr.net/npm/hlsjs-ipfs-loader@0.3.0/dist/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/hls.js@0.14.17"></script>
<script>

    const updateLikesBar = () => {
        const opts = $('#reactions').children("option")
        let likes = 0
        let dislikes = 0
        for(const o of opts){
            if(o.value == 0) likes += 1
            if(o.value == 1) dislikes += 1
        }
        let reactsTotal = likes + dislikes
        let percentBar = (likes / reactsTotal) * 100

        $('#likesBar').css('width', `${percentBar}%`) 
    }

    /* global Hls Ipfs HlsjsIpfsLoader */
    /* eslint-env browser */
    document.addEventListener('DOMContentLoaded', async () => {
    const fileHash = '<%= params.file.cid %>'
    console.log('hash file: ' + fileHash)
    Hls.DefaultConfig.loader = HlsjsIpfsLoader
    Hls.DefaultConfig.debug = false
    if (Hls.isSupported()) {
        const video = document.getElementById('video')
        const hls = new Hls()
        hls.config.ipfs = await createNode()
        hls.config.ipfsHash = fileHash
        hls.loadSource('master.m3u8')
        hls.attachMedia(video)
        hls.on(Hls.Events.MANIFEST_PARSED, () => video.play())
    }
    })
    updateLikesBar()

</script>
<script>

react = async (reaction) => {
    const formData = new FormData();
    formData.append('cid', '<%= params.file.cid %>');
    formData.append('_csrf', '<%= csrfToken %>');
    formData.append('reaction', reaction);

    let resp = await fetch('react', 
        {
        method: "POST", 
        body: formData
        });

    if(resp.status === 200){
        if(reaction === 0){
            $('#reactionThumbUp').addClass('reacted')
            $('#reactionThumbDown').removeClass('reacted')
            $('#userReactionOption').attr('value', 0)
        } else if(reaction === 1){
            $('#reactionThumbUp').removeClass('reacted')
            $('#reactionThumbDown').addClass('reacted')
            $('#userReactionOption').attr('value', 1)

        }
        updateLikesBar()
    }
}

deleteComment = async (commentId) => {
    const formData = new FormData();
    formData.append('commentId', commentId);
    formData.append('_csrf', '<%= csrfToken %>');

    let resp = await fetch('deleteComment', 
        {
        method: "POST", 
        body: formData
        });

    if(resp.status === 200){
        console.log('comment deleted')
        $(`#commentId${commentId}`).fadeOut(300, function() { $(this).remove(); })
    }

}

</script>